<div class="accordion accordion-flush" id="<%= page.slug %>">
  <div class="accordion-item">
    <h2 class="accordion-header" id="label-<%= page.slug %>">
      <button class="accordion-button<%= index === 0 ? '' : ' collapsed'%>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= page.slug %>" aria-expanded="<%= index === 0 ? 'true' : 'false'%>" aria-controls="collapse-<%= page.slug %>" style="background: <%= page.color %>">
        <%= page.title %>
      </button>
      <p><%= page.subtitle || "" %></p>
    </h2>
    <div id="collapse-<%= page.slug %>" class="accordion-collapse collapse<%= index === 0 ? ' show' : ''%>" aria-labelledby="label-<%= page.slug %>" data-bs-parent="<%= page.slug %>">
      <div class="accordion-body">
        <% children = page.children %>
        <% if children.length > 0 %>
          <ul class="list-group list-group-flush">
            <% children.each do |child| %>
              <% if child.status == 'published' && child.id != page.id %>
                <a href="/<%= child.path %>" class="list-group-item list-group-item-action"><li><i class="bi bi-chevron-right"></i> <%= child.title %></li></a>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

